nav {
  background-color: var(--main-color);
  /* background-color: #20202A; */
}

.navbar .navbar-toggler {
  color: var(--main-color);
  font-size: 25px;
  border-color: var(--second-color);
  outline: #fff;
}

.navbar-toggler-icon span {
  color: var(--text-color) !important;
}

.navbar-brand {
  color: var(--second-color);
}

nav ul a {
  color: #AFAFAF;
  transition: .3s;
}
nav ul a:hover {
  color: var(--second-color);
}


nav .search {
  display: flex;
  align-items: center;
  background: #3D3E42;
  border-radius: 20px;
}

nav .search input {
  background-color: #3D3E42;
  border-radius: 10px;
  padding: 10px;
  caret-color: #AFAFAF;
  color: #AFAFAF;
  border-radius: 20px;

}

nav .search i {
  color: #AFAFAF;
  padding-right: 10px;
  cursor: pointer;
}

@media (max-width:992px) {
  nav .search {
    display: none;
  }
}
