<div class="footer pt-5 pb-2">
  <div class="container">
    <div class="icons">
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-square-github"></i></a>
      <a href="#"><i class="fa-brands fa-square-whatsapp"></i></a>
    </div>
    <div class="thanks">❝Thanks For Scrolling❞</div>
    <div class="copy">
      <p>Made with <span>&lt;/Love&gt;</span> By Mohamed Ahmed</p>
    </div>
  </div>
</div>


