<div class="about" id="about">
  <div class="container pt-5 pb-5">
    <h2 class="fs-1">About</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quo quidem temporibus officiis ex excepturi labore, inventore officia cumque, alias praesentium rem debitis enim quis odit ea dolor repellat totam.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. <span>Provident quo quidem temporibus officiis ex excepturi labore, inventore officia cumque</span>, alias praesentium rem debitis enim quis odit ea dolor repellat totam.
    </p>
  </div>
</div>
