<div class="skills pt-5 pb-5" id="skills">
  <div class="container">
    <div class="row">

      <h2 class="text-light fs-1">Skills</h2>

      <div class="col-md-6 col-lg-3">
        <div class="card p-4 text-center mb-4">
          <img src="/images/html-5.png" alt="" class="w-50">
          <p class="text-light text-center m-0 fw-bold fs-4">HTML</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card p-4 text-center mb-4">
          <img src="/images/css-3.png" alt="" class="w-50">
          <p class="text-light text-center m-0 fw-bold fs-4">CSS</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card p-4 text-center mb-4">
          <img src="/images/js.png" alt="" class="w-50">
          <p class="text-light text-center m-0 fw-bold fs-4">JavaScript</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card p-4 text-center mb-4">
          <img src="/images/programing.png" alt="" class="w-50">
          <p class="text-light text-center m-0 fw-bold fs-4">Angular</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card p-4 text-center mb-4">
          <img src="/images/mobgo.png " alt="" class="w-50">
          <p class="text-light text-center m-0 fw-bold fs-4">MongoDB</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card p-4 text-center mb-4">
          <img src="/images/nodejs.png" alt="" class="w-50">
          <p class="text-light text-center m-0 fw-bold fs-4">nodeJs</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card p-4 text-center mb-4">
          <img src="/images/react.png" alt="" class="w-50">
          <p class="text-light text-center m-0 fw-bold fs-4">React</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card p-4 text-center mb-4">
          <img src="/images/github.png" alt="" class="w-50">
          <p class="text-light text-center m-0 fw-bold fs-4">Git & GitHub</p>
        </div>
      </div>
    </div>
  </div>
</div>
