.skills {
  background-color: #31333B;
}

.skills h2 {
  text-align: center;
  margin-bottom: 60px;
}
.card {
  background-color: #3D3E42;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transition: .3s;
}

.card:hover {
  background-color: var(--second-color);
}

