<div class="porto pt-5 pb-5" id="porto">
  <div class="container">
    <div class="row">
      <h2 class="text-light">Portfolio</h2>

      <div class="col-md-6 col-lg-4">
        <div class="card text-center mb-4">
          <img src="/images/proj.jpg" alt="" class="w-100">
          <!-- <p class="text-light text-center m-0 fw-bold fs-4">HTML</p> -->
          <div class="proj-info">
            <div class="btn">
              <a href="#">Demo <i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card text-center mb-4">
          <img src="/images/proj.jpg" alt="" class="w-100">
          <!-- <p class="text-light text-center m-0 fw-bold fs-4">HTML</p> -->
          <div class="proj-info">
            <div class="btn">
              <a href="#">Demo <i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card text-center mb-4">
          <img src="/images/proj.jpg" alt="" class="w-100">
          <!-- <p class="text-light text-center m-0 fw-bold fs-4">HTML</p> -->
          <div class="proj-info">
            <div class="btn">
              <a href="#">Demo <i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card text-center mb-4">
          <img src="/images/proj.jpg" alt="" class="w-100">
          <!-- <p class="text-light text-center m-0 fw-bold fs-4">HTML</p> -->
          <div class="proj-info">
            <div class="btn">
              <a href="#">Demo <i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card text-center mb-4">
          <img src="/images/proj.jpg" alt="" class="w-100">
          <!-- <p class="text-light text-center m-0 fw-bold fs-4">HTML</p> -->
          <div class="proj-info">
            <div class="btn">
              <a href="#">Demo <i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card text-center mb-4">
          <img src="/images/proj.jpg" alt="" class="w-100">
          <!-- <p class="text-light text-center m-0 fw-bold fs-4">HTML</p> -->
          <div class="proj-info">
            <div class="btn">
              <a href="#">Demo <i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
